<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pay">
	<insert id="insertPayment"
		parameterType="com.unibridge.app.pay.dto.PaymentDTO">
		INSERT INTO UB_PAY (
		pay_id,
		matching_number,
		pay_amount,
		pay_method,
		pay_date,
		pay_status,
		member_number
		) VALUES (
		SEQ_PAY.NEXTVAL,
		#{matchingNumber},
		#{payAmount},
		'카카오페이',
		SYSDATE,
		'SUCCESS',
		#{memberNumber}
		)
	</insert>
	
	<select id="selectLatestPaymentByMember"
	        parameterType="long"
	        resultType="PaymentDTO">
	
	    SELECT *
	    FROM (
	        SELECT 
	            PAY_ID            AS payId,
	            MATCHING_NUMBER   AS matchingNumber,
	            PAY_AMOUNT        AS payAmount,
	            PAY_METHOD        AS payMethod,
	            TO_CHAR(PAY_DATE, 'YYYY-MM-DD') AS payDate,
	            PAY_STATUS        AS payStatus,
	            MEMBER_NUMBER     AS memberNumber
	        FROM UB_PAY
	        WHERE MEMBER_NUMBER = #{memberNumber}
	        ORDER BY PAY_ID DESC
	    )
	    WHERE ROWNUM = 1
	
	</select>
	
</mapper>